*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

    body {

        background-image: url('fondo.jpg');
        background-repeat: no-repeat; 
        background-size: cover; 
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }



    h1, h2 {
        color: #333;
    }

    p {
        color: #555;
        line-height: 1.5;
    }

    .container {
        text-align: center;
    }

    table {
        width: auto;
        border-collapse: collapse;
        margin-top: 20px;
        margin: 0 auto;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }


    h1 {
        margin-bottom: 10px;
        font-family: 'Times New Roman';
        font-size: 50px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align-last: center;
    }

 
    p, table {
        margin-top: 10px;
        line-height: 40px;

    }






